[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {othello,
     [{ecto_repos,['Elixir.Othello.Repo']},
      {'Elixir.OthelloWeb.Endpoint',
          [{secret_key_base,
               <<"X6JbOUJBojnmiT+K1LgmbaE9Gvol/y4iPRq591+/v3EMdmkPaXRSawHlyz/ozbFQ">>},
           {render_errors,
               [{view,'Elixir.OthelloWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Othello.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {server,true},
           {load_from_system_env,true},
           {url,[{host,<<"example.com">>},{port,80}]},
           {cache_static_manifest,<<"priv/static/cache_manifest.json">>}]},
      {'Elixir.Othello.Endpoint',
          [{secret_key_base,
               <<"X6JbOUJBojnmiT+K1LgmbaE9Gvol/y4iPRq591+/v3EMdmkPaXRSawHlyz/ozbFQ">>}]},
      {'Elixir.Othello.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"othello">>},
           {password,<<"ihix4ahChedu">>},
           {database,<<"othello_prod">>},
           {size,20}]}]}].
